<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/site.webmanifest" />
    <link rel="stylesheet" href="../public/style.css" />
    <title><%=siteBrand%> | Error</title>
  </head>
  <body>
    <div id="rootContainer">
      
        <header>
          <div id="logoAndNav">
            <a href="/"
              ><img
                id="logo"
                src="../public/android-chrome-192x192.png"
                alt="liberator logo"
            /></a>
            <%-include("partials/header.ejs")-%>
          </div>
          <hr />
        </header>
        <div id="hAndMContainer">
        <main>
          <img src="../public/opps2_image.jpg" alt="error image" id="opps" />
          <h1>User already exist</h1>
        </main>
      </div>
      <footer>
        <p>
          Send us a mail &rBarr;
          <a href="mailto:maito4me@gmail.com"
            ><img id="gmail" src="../public/gmail_image.jfif" alt="gmail image"
          /></a>
        </p>
        <%-include("partials/footer.ejs")-%>
      </footer>
    </div>
  </body>
</html>