<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/site.webmanifest" />
    <link rel="stylesheet" href="../public/style.css" />
    <title><%=siteBrand%> | Forgot password</title>
  </head>
  <body>
    <div id="rootContainer">
      <header>
        <div id="logoAndNav">
          <a href="/"
            ><img
              id="logo"
              src="../public/android-chrome-192x192.png"
              alt="liberator logo"
          /></a>
          <%-include("partials/header.ejs")-%>
        </div>
      </header>

      <div id="hAndMContainer">
        <main>
          <h1 class="topic"><span>Password reset</span></h1>
          <h2>Let's confirm it is you.</h2>
          <form action="users/resetPassword" , method="post">
            <div id="authContainer">
              <label for="email" class="label"></label>
                Enter your email:
                <input type="text" , name="email" class="input" /> <br />
            </div>
            <button type="submit" class="submit">Send</button>
          </form>
        </main>
      </div>
      <footer>
        <p>
          Send us a mail &rBarr;
          <a href="mailto:infotek4you@gmail.com"
            ><img id="gmail" src="../public/gmail_image.jfif" alt="gmail image"
          /></a>
        </p>
        <%-include("partials/footer.ejs")-%>
      </footer>
    </div>
  </body>
</html>